html, body {
  padding: 0;
  margin: 0;
}

.description::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 0px;
    width: 11px;
}

.description::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #CAD0D2;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.image {
  width: 200px;
  height: 200px;
}

.image img {
  max-height:100%;
  max-width:100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-header {
  max-width: 990px;
  margin: 0 auto;
}

.arrow {
  margin-top: 3%;
  font-size: 200%;
}

.cartoon {
  height: 200px;
}

.vote, .comment-count, .addComment, .addCartoon {
  display: inline-block;
  cursor: pointer;
}

.comment-count::selection {
  background: none;
}

#comment {
  display: none;
}

.title {
  float: left;
  font-weight: bold;
}
.text {
  clear: left;
}

.author {
  float: right;
  color: grey;
}

div.commentBox .author {
  float: none;
}

.red {
  color: red
}

.green {
  color: green;
}

.description {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 100px;
  overflow: scroll;
}

.comment-section {
  background: #F5F5F5;
}

.vote-count {
  display: inline-block;
  width: 30px;
  font-size: 150%;
  text-align: center;
}

.votes, .comment-section, .addComment {
  display: inline-block;
}

.comments, .addCommentForm {
  margin-left: 300px;
}

.addCartoon label {
  display: block;
}

.addCartoon {
  width: 100%;
  margin-top: 0;
}

.addCartoon input[type='submit'] {
  margin-top: 1%;
}

.error {
  color: red;
}

#url {
  background: white;
}

.logo {
  margin-top: 7px;
  margin-right: 7px;
  margin-left: 14px;
}

.about {
  width: 100%;
  height: 500px;
}

.results {
  height: 200px;
  margin-top: 5%;
}

.warning {
  color: #FF3648;
}

#poster {
  padding-left: 90px;
}
