#logos .logo, #otherLogos .logo {
  font-size: 200%;
  padding-left: 3%;
}

.button {
  background: $white;
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 10px;
  color: $black;
  font-size: 150%;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 1%;
  box-sizing: border-box;
}

.preview {
  margin: 2% auto;
  display: block;
  font-size: 100%;
  padding: 0;
  width: 100px;
}

.row {
  width: 100%;
}

.button:hover {
  background: $primary;
  color: $white;
  text-decoration: none;
}

.row-centered {
    text-align:center;
    margin-left: 3px;
}

.col-centered {
    display:inline-block;
    float:none;
}

#myCarousel .arrows {
  background: none;
}
