// $black: #46494C;
// $white: #f0e6ef;
// $primary: #019A79;
// $secondary: #4C5C68;
// $tercerary: #C5C3C6;
// $red: #e87461;

// $black: #46494C;
// $white: #f0e6ef;
// $tercerary: #90BAAD;
// $fourth: #A1E5AB;
// $fifth: #ADF6B1;
// $primary: #8AA2A9;
// $secondary: #717C89;
// $red: #e87461;

$black: #46494C;
$white: #f0e6ef;
$sixth: #8A89C0;
$fourth: #DCDCDD;
$tercerary: #06D6A0;
$fifth: #CDA2AB;
$primary: #048A81;
$secondary: #54C6EB;
$red: #e87461;
