.modal-content .modal-header {
  color: $white;
  background: $primary;
}

.modal-content {
  background: $primary;
  border-radius: 3px;
}

.modal-body, .modal-footer {
  background: $white;
}

.container .navbar {
  padding: 0;
  background: $primary;
  width: 100%;
}

.navbar-header button {
  margin: 0;
}

#navbar-collapse-1 {
  padding: 0;
}

.navbar-header, .navbar {
  height: 70px;
}

#myCarousel {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 100px;
}

table {
  margin: 0 auto;
}

tr td.logoTd {
  width: 50px;
  font-size: 70%;
}

tr td.desc {
  width: 180px;
  vertical-align: middle;
  font-size: 70%;
}
