.imageLogo-2 {
  width: 100px;
  margin-top: 10%;
}

.imageLogo-3 {
  width: 75px;
  margin-top: 10%;
}

.imageLogo-1 {
  border-radius: 5px;
  width: 300px;
}

.small-container-2{
  width: 100%;
  display: inline-block;
}

.small-container-3{
  width: 100%;
  margin: 1%;
  display: inline-block;
}

.small-text-2 {
  margin-top: 10px;
  width: 50%;
  display: inline-block;
  margin-left: 8%;
  margin-bottom: 8%;
}

.small-text-3 {
  width: 50%;
  display: inline-block;
  margin-left: 8%;
}

.small-image {
  width: 30%;
  height: 100%;
  display: inline-block;
}

.large-image {
  width: 100%;
}
