html, body   {
  background: $white;
}

main {
  color: $black;
  background: $white;
}

header {
  color: $white;
  background: $primary;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  box-shadow: 0 2px 2px -2px gray;
}

.image {
  width: 100%;
  height: 500px;
  display: none;
  padding: 2%;
  box-sizing: border-box;
  background-color: $black;
  background-image: url('./../assets/circuit.jpeg');
}

.item {
  background: $primary;
  border-radius: 3px;
}

.item:hover img {
  opacity: .5;
}

.item img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.information {
  text-align: center;
  width: 80%;
  padding: 3%;
  font-size: 200%;
  margin: 0 auto;
  margin-bottom: 2%;
  color: $black;
  background: $white;
  border-radius: 5px;
  box-sizing: border-box;
}

#header .left {
  float: left;
  width: 50%;
}

.left {
  border-radius: 3px;
}

.right {
  border-radius: 3px;
  float: right;
}

.nav-tab {
  float:right;
  margin-top: .7%;
  margin-left: 3%;
}

#image {
  width: 100%;
  height: 600px;
  cursor: pointer;
  border-radius: 3px;
}

#resize img {
  width: 100%;
  height: 600px;
}

header #logos, .title {
  display: inline-block;
}

.title {
  margin-right: 3%;
}

.spacer {
  height: 70px;
  width: 100%;
}

#logos {
  width: 30%;
}

#bottomLogos {
  font-size: 200%;
  width: 10%;
  margin: 0 auto;
  margin-top: 2%;
  height: 70px;
}

.me {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.carousel-caption {
  color: $black;
}

#about {
  margin: 3%;
  padding: 2%;
}
