a, a:focus, a:active, a:visited, a:link {
   color: $white;
   text-decoration: none;
}

a:hover {
  color: $black;
}

.atitle:hover {
  color: $white;
}

#bottomLogos a, #bottomLogos a:focus, #bottomLogos a:active, #bottomLogos a:visited, #bottomLogos a:link {
  color: $white;
}

#bottomLogos a:hover {
  color: $black;
}

.miniLogos {
  font-size: 150%;
  text-align: right;
}

.miniLogos {
  a:link, a:visited, a:active{
    color: $black;
  }
  a:hover, a:focus {
    color: $primary;
  }
}
