.tab:hover {
  cursor: pointer;
  background: $fourth;
}

.tab:hover .piece {
  color: $primary;
}

.tab {
  margin: 0;
}

.row {
  width: 100%;
}

.highlighted {
  background: $fourth;
  color: $primary
}
.highlight {
  background: $fourth;
}
