/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Poppins:400,600);
@import url(https://fonts.googleapis.com/css?family=Chivo);
@import url(http://fonts.googleapis.com/css?family=Yantramanav);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 1em; }

body {
  background-color: white;
  font-family: Yantramanav, serif;
  font-weight: 400;
  line-height: 1.45;
  color: #555; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: Yantramanav, serif;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 2.441em; }

h2 {
  margin-top: 0;
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small, .font_small {
  font-size: 0.8em; }

#logos .logo {
  font-size: 200%;
  padding-left: 3%; }

.button {
  background: #f0e6ef;
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 10px;
  font-family: Arial;
  color: #46494C;
  font-size: 49px;
  padding: 10px 20px 10px 20px;
  text-decoration: none; }

.button:hover {
  background: #019A79;
  color: #f0e6ef;
  text-decoration: none; }

.buttons {
  width: 600px;
  margin: 0 auto;
  margin-top: 5%; }

.button:first-child {
  margin-right: 4%; }

#arrows {
  background: none; }

a, a:focus, a:active, a:visited, a:link {
  color: #f0e6ef;
  text-decoration: none; }

a:hover, a:focus {
  color: #46494C; }

.atitle:hover {
  color: #f0e6ef; }

#bottomLogos a, #bottomLogos a:focus, #bottomLogos a:active, #bottomLogos a:visited, #bottomLogos a:link {
  color: #46494C; }

#bottomLogos a:hover {
  color: #019A79; }

html, body {
  background: #f0e6ef; }

main {
  color: #46494C;
  background: #f0e6ef; }

header {
  color: #f0e6ef;
  background: #019A79;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  box-shadow: 0 2px 2px -2px gray; }

.image {
  width: 100%;
  height: 500px;
  display: none;
  padding: 2%;
  box-sizing: border-box;
  background-image: url("./../assets/circuit.jpeg"); }

.information {
  text-align: center;
  width: 80%;
  padding: 3%;
  font-size: 200%;
  margin: 0 auto;
  margin-bottom: 2%;
  color: #46494C;
  background: #f0e6ef;
  border-radius: 5px;
  box-sizing: border-box; }

#header .left {
  float: left;
  width: 50%; }

.left {
  border-radius: 3px; }

.right {
  border-radius: 3px;
  float: right; }

.nav-tab {
  float: right;
  margin-top: .7%;
  margin-left: 3%; }

#image {
  width: 100%;
  height: 600px;
  cursor: pointer;
  border-radius: 3px; }

#resize img {
  width: 100%;
  height: 600px; }

header #logos, .title {
  display: inline-block; }

.title {
  margin-right: 3%; }

.spacer {
  height: 70px;
  width: 100%; }

#logos {
  width: 30%; }

#bottomLogos {
  font-size: 200%;
  width: 10%;
  margin: 0 auto;
  margin-top: 2%;
  height: 70px; }

#myCarousel {
  z-index: 1; }

.me {
  border-radius: 100px; }

ul {
  list-style: inside circle; }

ol {
  list-style: inside decimal; }

.ng-enter {
  animation: 0.5s fadeIn; }

.ng-hide-add {
  animation: 1s slideInUp ease; }

.ng-hide-remove {
  animation: 2s fadeIn ease; }

#logos {
  display: none; }
